*

!.gitignore
!.pre-commit-config.yaml
!justfile
!Dockerfile
!README.md
!LICENSE
!pyproject.toml
!py_refman.pyi
!refman.pyi
!uv.lock
!Cargo.toml

!/src
!/src/*.rs

!/tests
!/tests/test_*.py
!/tests/__init__.py

!/docs

!/examples

!/.github
!/.github/workflows
!/.github/workflows/*.yml
!/.github/workflows/*.yaml


