*

!.gitignore
!.pre-commit-config.yaml
!justfile
!Dockerfile
!README.md
!LICENSE
!pyproject.toml
!uv.lock
!Cargo.toml

!/src
!/src/*.rs

!/tests

!/docs

!/examples

!/.github
!/.github/worklows
!/.github/worklows/*.yml
!/.github/worklows/*.yaml


